---
import ActivityPageBase from "../../layouts/ActivityPageBase.astro";

---

<ActivityPageBase title="活動介紹" eventImage="https://via.placeholder.com/2000x2000">
    
    <div slot="introduction-text">
    <h2>活動規則:</h2>
<p>右鍵魔法棒向草泥馬發射魔咒, 每10秒可以發射8次魔咒</p>
<p>☆不能同時移動和發射魔咒, 請慎重決定每一步行動☆</p>
<p>保護自己的草泥馬, 把別人的全部殺死, 最後一人為勝者</p>
<p>⟁ 建議遊玩時全程拿著魔法棒, 以免坐上草泥馬 ⟁</p>
</div>
    <div slot="win-reward">
        <h2>勝利獎勵</h2>
        <img src="/images/items/boat-winner.png" alt="勝利獎勵圖示"> 
    </div>
</ActivityPageBase>

<style>
    

</style>
