---
import ActivityPageBase from "../../layouts/ActivityPageBase.astro";

---

<ActivityPageBase title="活動介紹" eventImage="/images/banner/bumper_arena.png">
    
    <div slot="introduction-text">
    <h2>遊戲規則:</h2>
<p>把所有人撞下平台, 最後一人為勝者</p>
<p>⟁ 活動期間離開碰碰豬將自動敗北 ⟁</p>
</div>
    <div slot="win-reward">
        <h2>勝利獎勵</h2>
        <img src="/images/items/bumper-winner.png" alt="勝利獎勵圖示" class="winner-image"> 
    </div>
</ActivityPageBase>

<style>
    .winner-image{
        max-width: 100%;
    } 

</style>
