---
import ActivityPageBase from "../../layouts/ActivityPageBase.astro";

---

<ActivityPageBase title="活動介紹" eventImage="https://via.placeholder.com/2000x2000">
    
    <p slot="introduction-text">活動會在blah blah blah舉行, go by blah blah blah, how to get reward blah blah blah etc</p>
    <div slot="win-reward">
        <h2>勝利獎勵</h2>
        <img src="/images/items/cannon-winner.png" alt="勝利獎勵圖示" class="winner-image"> 
    </div>
</ActivityPageBase>

<style>
    
    .winner-image{
         max-width: 100%;
    } 
</style>
