---
import ActivityPageBase from "../../layouts/ActivityPageBase.astro";

---

<ActivityPageBase title="活動介紹" eventImage="/images/banner/cannon_arena.png">
    
    <div slot="introduction-text">
    <h2>遊戲規則:</h2>
<p>以弓或弩射出炸彈箭, 箭矢會定時增加, 最多8根</p>
<p>金色箭矢會隨機從天而降, 射出的炸彈威力更強</p>
<p>把所有人炸下暗海磷石平台, 最後一人為勝者</p>
<p>苦力怕掉下來會炸掉地板喔(☉д⊙)</p>
</div>
    <div slot="win-reward">
        <h2>勝利獎勵</h2>
        <img src="/images/items/cannon-winner.png" alt="勝利獎勵圖示" class="winner-image"> 
    </div>
</ActivityPageBase>

<style>
    
    .winner-image{
         max-width: 100%;
    } 
</style>
