---
import PageBase from '../layouts/PageBase.astro';
import Container from '../layouts/Container.astro';
import FooterBar from '../components/FooterBar.astro'
import CalendarList from '../components/CalendarList.vue'
---

<PageBase title="Calendar">
    <div class="news-container">
        <Container>
            <CalendarList/>

        </Container>
    </div>
    <FooterBar/>
</PageBase>

<style>
   
</style>