---

import PageBase from '../layouts/PageBase.astro';
import Container from '../layouts/Container.astro';
import FooterBar from '../components/FooterBar.astro';
import Calendar from '../components/Calendar.vue';

//the date doesnt matter here
---

<PageBase title="Calendar">
    <div class="news-container">
        <Container>
            <div style="margin-top:10px">
                <div>21:00</div>
                <div>22:00</div>
            </div>            
            <Calendar limit={10} showControl={true} client:load/>
        </Container>
    </div>
    
    <FooterBar/>
</PageBase>

<style>
    .news-container{
        min-height: calc(100vh - 400px);
    }
</style>
