---

import PageBase from '../layouts/PageBase.astro';
import Container from '../layouts/Container.astro';
import FooterBar from '../components/FooterBar.astro';
import Calendar from '../components/Calendar.vue';

//the date doesnt matter here
const startTimeSurvival = new Date('4/9/2022 01:00:00 PM UTC');
const startTimeSkyblock = new Date('4/9/2022 02:00:00 PM UTC');
---

<PageBase title="Calendar">
    <div class="news-container">
        <Container>
            <Calendar limit={10} showControl={true} client:load/>
            <div style="margin-top:10px">
                <div>{startTimeSurvival.getHours()}:00</div>
                <div>{startTimeSkyblock.getHours()}:00</div>
            </div>
        </Container>
    </div>
    
    <FooterBar/>
</PageBase>

<style>
    .news-container{
        min-height: calc(100vh - 400px);
    }
</style>
