---

import PageBase from '../layouts/PageBase.astro';
import Container from '../layouts/Container.astro';
import FooterBar from '../components/FooterBar.astro';
import Calendar from '../components/Calendar.vue';
---

<PageBase title="Calendar">
    <div class="news-container">
        <Container>
            <Calendar limit={10} showControl={true} client:load/>

        </Container>
    </div>
    <FooterBar/>
</PageBase>

<style>
    .news-container{
        min-height: calc(100vh - 400px);
    }
</style>
