---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import FooterBar from '../components/FooterBar.astro';
import CenterTitle from '../layouts/CenterTitle.astro';
import Container from '../layouts/Container.astro';
import NewsList from '../components/NewsList.vue';


---

<Layout>
		<div class="landing">
			<div class="appear nav-bar"><NavBar/></div>
			
			<div class="slogan">
				<CenterTitle>
					<h1 slot="title" class="appear slogan-title">小遊戲</h1>
					<div slot="content" class="slogan-inner">
						<h2 class="appear tips">星期一、三、五、六晚上舉行</h2>
						<div class="slide avatar">
							<div class="bubble-container">
								<div class="bubble bubble-bottom-left">你好嗎</div>
							</div>						
							<img src="./images/avatar.png" alt="小妹的半身像" class="slide avatar"/>
							
						</div>
						
					</div>
					
				</CenterTitle>
				 
			</div>
				
		</div>
		<main class="main">
			<Container>
				<div class="header-container">
					
					<h1 class="header">News</h1>
					<div class="more-news desktop"><a href="./news">查看更多</a></div>
				</div>
				
				<NewsList client:idle/>
				
				<div class="more-news mobile"><a href="./news">查看更多</a></div>
				
				
			</Container>
		</main>
		<FooterBar/>
</Layout>

<style>
	.landing{
		background: url("../images/background.webp");
		background-repeat: no-repeat;
  		background-size: cover;
		width: 100%;
		height: 100vh;
		opacity: 0.85;
		overflow: hidden;
	}
	.slogan{
		/* nav bar height */ 
		height: calc(100% - (75px + clamp(50px, 5vw, 150px)));
		margin-top: clamp(50px, 5vw, 150px);
	}
	@media only screen and (max-width: 1000px) {
		.slogan{
			/* nav bar height */ 
			height: calc(100% - (155px + clamp(50px, 5vw, 150px)));
			margin-top: clamp(50px, 5vw, 150px);
		}
	}
	.avatar{
		width: clamp(100px, 100%, 100%);
	}

	.slogan-inner{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	.tips{
		color: var(--highlight);
	}
	.slogan-title{
		color: var(--color-text);
	}
	.appear{
		opacity: 0;
		animation: appear 1s ease-in-out forwards;
		animation-delay: 0.5s;
	}
	.slide{
		position: relative;
		animation: slide 0.75s ease-in-out, appear 0.5s ease-in-out;
	}
	.avatar:hover .bubble{
		display: block;
	}
	.avatar:active .bubble{
		display: block;
	}
	.bubble-container{
		position: relative;
		left: 60%;
		bottom: clamp(20px, 5%, 50px);
		z-index: 100000;
	}
	.bubble {
	 	position: absolute;
	 	width: 100px;
	 	background: var(--shade-darken3);
	 	border-radius: 40px;
	 	padding: 24px;
	 	text-align: center;
	 	color: var(--highlight);
		animation: speech-appear 0.2s ease-in-out;
		display: none;
	}
	
	.bubble-bottom-left:before {
	 	content: "";
	 	width: 0px;
	 	height: 0px;
	 	position: absolute;
	 	border-left: 24px solid var(--shade-darken3);
	 	border-right: 12px solid transparent;
	 	border-top: 12px solid var(--shade-darken3);
	 	border-bottom: 20px solid transparent;
	 	left: 32px;
	 	bottom: -24px;
	}

	.header{
		color: var(--shade-darken3);
		text-shadow: 0px 2px, 2px 0px, 2px 2px;
		font-weight: bold;
	}
	.header-container{
		display: flex;
		justify-content: space-between;
	}
	
	.more-news{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
	}
	.more-news > a {
		background-color: var(--shade-darken3);
		color: white;
		text-decoration: none;
		width: 100%;
		font-size: 1.1rem;
		height: 30px;
		padding: 10px 50px;
		text-align: center;
		border-radius: 20px;
	}
	.mobile{
		display: none;
		margin: 50px 0px;
	}
	@media screen and (max-width: 1000px){
		.desktop{
			display: none;
		}
		.mobile{
			display: flex;
		}
	}
	.main{
		color: black;
	}

	*{
		--color-text: hsl(10, 21%, 95%);
	}
	@keyframes speech-appear{
		from{
			width: 3rem;
			padding: 5px;
			font-size: 5px;
		}
		to{
			width: 100px;
			padding: 24px;
			font-size: 20px;
		}
	}
	
	@keyframes slide{
		from{
			top: 100px;
		}
		to{
			top: 0px;
		}
	}
	@keyframes appear {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}
</style>
