---
import PageBase from '../layouts/PageBase.astro';
import NewsList from '../components/NewsList.vue';
import Container from '../layouts/Container.astro';
import FooterBar from '../components/FooterBar.astro';

const API_URL = process.env.PUBLIC_API_URL;
---

<PageBase title="通知">
    <div class="news-container">
        <Container>
            <NewsList limit={10} showControl={true} API_URL={API_URL} client:load/>

        </Container>
    </div>
    <FooterBar/>
</PageBase>

<style>
    .news-container{
        min-height: calc(100vh - 400px);
    }
</style>
