---

---

<nav class="nav-container">
    <a href="/">
        <img src="./icons/brand.svg" class="brand">
    </a>
    <div class="nav-links">
        <a href="/news" class="nav-link">News</a>
        <a href="/timetable" class="nav-link">時間表</a>
        <a href="/record" class="nav-link">優勝記錄</a>
    </div>
</nav>
<style>
    .nav-container{
        height: 80px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-link{
        margin-right: 3rem;
        color: var(--color-text);
        text-decoration: none;
        font-size: var(--font-size-base);
        font-weight: bolder;

        background: linear-gradient(to left, var(--color-text) 50%, var(--shade-darken2) 50%) right;
        background-size: 200%;
        transition: .5s ease-in-out;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .nav-link:hover{
        background-position: left;
    }

    .brand{
        width: min(100%, 400px);
    }

    @keyframes rotate{
        from{
            transform: rotate(0);
            top: 30px;
        }
        to{
            transform: rotate(380deg);
            top: 15px;
        }
    }
</style>
