---

---

<nav class="nav-container">
    <a href="/">
        <img src="./icons/brand.svg" class="brand">
    </a>
    <div class="nav-links">
        <a href="/news" class="nav-link">News</a>
        <a href="/timetable" class="nav-link">時間表</a>
        <a href="/record" class="nav-link">優勝記錄</a>
    </div>
</nav>
<style>
    .nav-container{
        height: 80px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-link{
        margin-right: 3rem;
        color: var(--color-text);
        text-decoration: none;
        font-size: var(--font-size-base);
        font-weight: bolder;
    }

    .nav-link:hover::after{
        content: "✦";
        position: relative;
        display: inline-block;
        color: yellow;
        animation: rotate 1s ease-in-out forwards;
    }
    .brand{
        width: min(100%, 400px);
    }

    @keyframes rotate{
        from{
            transform: rotate(0);
            top: 30px;
        }
        to{
            transform: rotate(380deg);
            top: 15px;
        }
    }
</style>
