---


---
<section class="container">
    <slot/>
</section>

<style>
    .container{
	    width: 50%;
	    margin: 0 auto;
	    padding: 60px 0px;
	}

	@media screen and (max-width: 1200px){
		.container{
			width: 90%;
		}
	}
</style>