---


---

<!DOCTYPE html>
<html lang="zh-Hants">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
		<title>DC 築夢物語 - 綜合伺服器 | 全自動小遊戲</title>
		<meta name="description" content="在這裡你可以查詢到我們全自動小遊戲的所有資訊。">
  		<meta name="keywords" content="minecraft, minigame, minecraft minigame, dreamcrafter, 當個創世神, 築夢物語, 築夢物語伺服器">
  		<meta name="author" content="billyovo">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://minigame.letsdream.today/">
		<meta property="og:title" content="DC 築夢物語 - 綜合伺服器 | 全自動小遊戲">
		<meta property="og:description" content="在這裡你可以查詢到我們全自動小遊戲的所有資訊。">
		<meta property="og:image" content="https://minigame.letsdream.today/images/avatar.png">
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://minigame.letsdream.today/">
		<meta property="twitter:title" content="DC 築夢物語 - 綜合伺服器 | 全自動小遊戲">
		<meta property="twitter:description" content="在這裡你可以查詢到我們全自動小遊戲的所有資訊。">
		<meta property="twitter:image" content="https://minigame.letsdream.today/images/avatar.png">
		
	</head>
	<body>
		<slot/>
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--shade: #DDF4FB;
		--shade-darken: #C3ECF8;
		--shade-darken2: #9CA4F5;
		--shade-darken3: #434DB6;

		--highlight: #FFE900;
		
		--color-bg: rgba(0,0,0,0.025);
		--color-footer: rgb(31,0,44);
		--color-text: rgb(45,45,45);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: 'Noto Sans'
	}
</style>
